<!-- <header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            Brand and toggle get grouped for better mobile display
            <a class="navbar-brand logo_h" href="index.html"><img src="assets/image/Logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
                    </li> 
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/accomodation']" routerLinkActive="active">Accomodation</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                        </ul>
                    </li> 
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">SignUp</a></li>
                </ul>
            </div> 
        </nav>
    </div>
</header> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']"><i class="fas fa-user-clock"></i> HOTEL BOOKING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto headerNav nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['accomodation']" routerLinkActive="active">Accomodation</a>
            </li>

            <li class="nav-item">
                <a *ngIf="isloggedInAdmin()==true" class="nav-link" [routerLink]="['admin']"
                    routerLinkActive="active">Admin Dashboard</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isloggedInUser()==true" class="nav-link" [routerLink]="['user']"
                    routerLinkActive="active">User Dashboard</a>
            </li>

        </ul>
    </div>

    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="text-end">
                <a [routerLink]="['login']" routerLinkActive="active"><button type="button"
                        class="btn btn-light text-dark me-2">Login</button></a>


                <a [routerLink]="['register']" routerLinkActive="active"> <button type="button"
                        class="btn btn-primary">Sign-up</button></a>
            </div>
        </div>
    </div>
</nav>